.backdrop {
    position: fixed;

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    /* scale: 1; */
    transition: opacity $transition-dure-and-function, transform $transition-dure-and-function, visibility $transition-dure-and-function;
    transform-origin: bottom center;
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transform: scale(0);
}