.contacts {
    display: flex;
    margin-left: auto;
    column-gap: 50px;
}
.contacts__link {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding-top: 32px;
    padding-bottom: 32px;
    
    text-decoration: none;
    letter-spacing: 0.02em;
    color: $primary-text-color;
    
    transition: color $transition-dure-and-function;
    
    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.contacts__icon {
    fill: currentColor;
}